<!DOCTYPE html>
<body>
  <header>
    <h1>Editing Book</h1>
    <%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track': 'reload' %>
  </header>
  
    <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
    
      <ul>Title</ul>
      <%= f.text_field :title %>
      
      <ul>Body</ul>
      <%= f.text_area :body %>
      
      <div class="block">
        <%= f.submit 'Update Book' %>
      </div>
        
      <div>
        <%= link_to "show", book_path(@book) %>
        |
        <%= link_to "back", books_path(@book) %>
      </div>
        
    <% end %>
    
</body>