<!DOCTYPE html>
<body>
  <header>
    <h1>Books</h1>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </header>

  <nav>
    <table cladd="book-wrap">
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
       
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td class="table-link">
          <%= link_to "show", book_path(book) %>
          <%= link_to "edit", edit_book_path(book) %>
          <%= link_to "destroy", book_path(book), method: :delete %>
        </td>
          
      </tr>
    <% end %>
    </table>
  </nav>

  <h2>New book</h2>
  <% if @book.errors.any? %>
  <div class="error-box">
      <p class="error-red"><%= @book.errors.count %>errors prohibited this book from being saved:</p>
      <ul class="errors">
        <% @book.errors.full_messages.each do |message| %>
          <p class="error-message">・<%= message %></p>
        <% end %>
      </ul>
    <% end %>
  </div>
    



  <!-- form_with部分 -->
  <div class="new">
    <%= form_with model: @book, url: '/books', method: :post do |f| %>
      <ul class="new-text">Title</ul>
      <%= f.text_field :title %>

      <ul class="new-body">Body</ul>
      <%= f.text_area :body %>

      <div class="create-box">
        <%= f.submit 'Create Book' %>
      </div>

    <% end %>
  </div>



</body>
